.reservation-history {
  padding: 20px;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  display: flex;
  gap: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

h3 {
  margin-top: 20px;
}

.book-edit-input {
  width: 50px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0 10px;
}

.tr-img {
  width: 10%;
}
.tr-name {
  width: 40%;
}
.tr-closetime {
  width: 10%;
}
.tr-currente-price {
  width: 10%;
}
.tr-bid-price {
  width: 10%;
}
.tr-second {
  width: 10%;
}
.tr-ope {
  width: 10%;
}
.tr-ope > button {
  margin: 3px 0;
  font-size: 80%;
  height: 38px;
}